<div class="input-group">
  <span class="input-group-btn">
    <button (click)="changeValue(-5)" [ngClass]="btnClass" type="button">
      <i class="fa fa-minus"></i>
    </button>
  </span>
  <input
    [ngClass]="{ 'is-invalid': isInvalidClass() }"
    (ngModelChange)="onChange($event)"
    [(ngModel)]="progressIn"
    max="100"
    min="0"
    type="number"
    class="form-control"
    placeholder="Progress"
  />
  <span class="input-group-btn">
    <button (click)="changeValue(5)" [ngClass]="btnClass" type="button">
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>
