<div class="input-group">
    <span class="input-group-btn">
      <button
        (click)="changeValue(-5)"
        class="btn btn-primary"
        type="button"
      >
        <i class="fa fa-minus"></i>
      </button>
    </span>
    <input
      [(ngModel)]="progress"
      max="100"
      min="0"
      type="number"
      class="form-control"
      placeholder="Progress"
    />
    <span class="input-group-btn">
      <button
        (click)="changeValue(5)"
        class="btn btn-primary"
        type="button"
      >
        <i class="fa fa-plus"></i>
      </button>
    </span>
  </div>